.nav {
    grid-area: n;
    background-color:chocolate;
    padding: 20px;
}
.item a{
    color: white;
    text-decoration: none ;
}
.item a.activeLink{
    color:crimson;
}

.title{
    margin-top: 100px;
    color: pink;
}
.friends{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}
.friend{
    padding: 15px;
}
.friend img{
    width: 40px;
    border-radius: 40px;
}
